.card_inverse
{
    width: 95px;
    height : 170px;
    border-radius: 10px;
    background-color: whitesmoke;
}
.tab_image_inverse
{
    border-radius: 10px;
    width:95%;
    height: 50%; 
    display: block; 
    margin: auto;
}
.chip_inverse
{
    text-align: center;
    border-radius: 8px;
    padding: 3px;
    background-color: #FACECE;
    font-size: 10px; 
    margin: 0;
}