.show_class
{
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show_div
{
    width: 300px;
    height: 250px;
    display: flex;
}