.card_model
{
    width:85px;
    height : 120px;
    border-radius: 10px;
    background-color: whitesmoke;
}
.tab_image_model
{
    border-radius: 10px;
    width:95%;
    height: 65%; 
    display: block; 
    margin: auto;
}