.fullpage_generation
{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   background-color: whitesmoke;
}

.image_cont
{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.mobile_cont{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.side_image
{
  width: 78%;
  height: 520px;
  border-radius: 10px;
}
.align_image
{
    width: auto; 
    height: auto; 
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    display: block; 
    margin: auto;
}
.option_list{
  background-color: white;
  border-radius: 10px;
  
}
.option_ul_list
{
  margin-bottom: 10%;
  list-style: none;
  padding: 5px;
  display: flex;
  border: 1px solid rgb(226, 223, 223);
  border-radius: 10px;
}
.option_li_list_active{
  /* text-align: center; */
  font-size: 13px;
  border-radius: 8px;
  /* padding: 5px 10px; */
  padding: 6px 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}
.option_li_list
{
  text-align: center;
  font-size: 13px;
  border-radius: 8px;
  /* padding: 5px 10px; */
  padding: 6px 10px;
  cursor: pointer;
}